<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="../style.css">
    <title>Document</title>
</head>
<body>
    <h1 class="border-red container mx-auto">
        <p>None</p>
        <p>To center a container, use the mx-auto utility:</p>
    </h1>
    </br>

    <h1 class="border-red container mx-auto px-4">
        <p>None</p>
        <p>To add horizontal padding, use the px-* utilities:</p>
    </h1>
    </br>

    <div class="border-red md:container md:mx-auto">
        <p>MD</p>
        <p>Full-width fluid until the `md` breakpoint, then lock to container</p>
    </div>
    </br>

    <div class="border-red sm:container sm:mx-auto">
        <p>SM</p>
        <p>Full-width fluid until the `sm` breakpoint, then lock to container</p>
    </div>
    </br>

    <div class="border-red lg:container lg:mx-auto">
        <p>LG</p>
        <p>Full-width fluid until the `lg` breakpoint, then lock to container</p>
    </div>
    </br>

    <div class="border-red xl:container xl:mx-auto">
        <p>XL</p>
        <p>Full-width fluid until the `xl` breakpoint, then lock to container</p>
    </div>
    </br>

    <div class="border-red 2xl:container 2xl:mx-auto">
        <p>2XL</p>
        <p>Full-width fluid until the `2xl` breakpoint, then lock to container</p>
    </div>
    </br>


</body>

</html>