/* @import url('https://fonts.googleapis.com/css2?family=Madimi+One&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Madimi+One&family=Slackside+One&display=swap');



.madimi-one-regular {
    font-family: "Madimi One", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  
  .slackside-one-regular {
    font-family: "Slackside One", cursive;
    font-weight: 400;
    font-style: normal;
  }