.features {
    /* background-color: rgb(214,230,242); */
    border: 1px solid green;
}

.h3-style {
    font-size: 50px;
}

.features-child {
    display: flex;
    justify-content: center;
    /* margin-top: 90px; */
    padding-top: 30px;
    text-align: center;
    border: 1px solid red;
}

.choose-plan {
    /* display: flex; */
    width: 45%;
}

hr {
    width: 70px;
    height: 2px;
    margin-top: 10px;
    background: #1a57a5;
    /* text-align: center; */
}

.features-parag {
    display: flex;
    /* width: 45%; */
    /* word-wrap: break-word; */
    /* border: 1px solid yellow; */
    justify-content: center;
}

.p-even-all {
    /* width: 40%; */
    color: #73767c;
    line-height: 1.7;
    text-align: center;
}

.img-showcase {
    width: 40%;
}

.get-started {
    /* border: 1px solid yellow; */
    border: 1px solid #ebebeb;
    display: block;
    text-align: center;
    /* justify-content: center;
    justify-self: center;
    align-items: center; */
    /* width: 40%; */
    
}

.get-started-sel {
        /* border: 1px solid blue; */
        /* text-align: left; */
        /* margin: 0px 0px 50px; */
        /* display: flex; */
        /* flex-direction: column; */
        /* flex-direction: column-reverse; */
        margin-bottom: 50px;
        /* align-self: center;
        justify-content: center;
        justify-self: center;
        justify-items: center;
        align-items: center;
        align-content: center;
        text-align: center; */
}

.get-started-child {
    /* width: 30%; */
    /* align-items: center; */
    /* border: 1px solid green; */
    /* align-items: center; */
    /* justify-content: center; */
}

.starter-style {
    font-size: 14px;
    text-transform: uppercase;
    /* letter-spacing: .2em; */
    letter-spacing: 3px;
    font-family: "Open Sans", Arial, sans-serif;
}

.pricing {
    font-size: 62px;
    color: #1a57a5;
    font-family: "Open Sans", Arial, sans-serif;
    font-weight: 300;
}

.note {
    color: #bdbdbd;
    /* margin: 0px 0px 30px; */
    margin-bottom: 30px;
    font-style: italic;
}

.check-list-parent {
    display: flex;
    column-gap: 10px;
    list-style-type: none;
    margin-bottom: 10px;
    /* padding-left: 15px; */
    /* align-self: center; */
    justify-content: center;
    /* justify-self: center; */
    /* justify-items: center; */
    /* align-items: center; */
    /* align-content: center; */
    /* text-align: center; */
}

.check-list {
    color: #73767c;
    padding-left: 5px;
    font-family: "Open Sans", Arial, sans-serif;
}

.check-list-style {
    color: #1a57a5;
}

.btn-black {
    background: #262626;
    color: white;
    /* text-decoration: none; */
    padding: 10px 40px;
    cursor: pointer;
    margin-top: 30px;
    /* font-weight: 400; */
    /* white-space: "nowrap"; */
}