@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

body {
    margin: 0px;
}

.div-bg {
    background-color: rgb(254,245,228);
    height: 100vh;
    padding: 150px 300px 150px 300px;
}

.div-form {
    background-color: rgb(231,230,255);
}