* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

body {
    background-image: url("images/pexels-pixabay-268533.jpg");
}

.heading {
    font-size: 1.5rem;
    border: solid 2px #fff;
    background-color: #262626;
    padding: 5px;
    border-radius: 5px;
}

.card {
    border-radius: 15px !important;
}

.btn button:active {
    background-color: lightblue;
}

/* Border format */

.bg-lightgray {
    background-color: lightgray;
}

.border-red {
    border: 2px solid red;
}

.border-green {
    border: 1px solid green;
}

.border-black {
    border: 1px solid black;
}

.border-magenta {
    border: 1px solid darkmagenta;
}

.border-blue {
    border: 1px solid blue;
}

.border-yellow {
    border: 3px solid yellow;
}

