body {
    margin: 0px;
}

.container-frame {
    background-image: url("Material/image_1.jpg");
    width: 100%;
    height: 100vh;
    position: relative;
}

.container-frame::before {
    width: 100%;
    height: 100%;
    content: "";
    position: absolute;
    background: rgba(0, 0, 0, .5);
}

.nav-bar {
    display: flex;
    justify-content: space-around;
    padding-top: 60px;
    /* border: 1px solid red; */
    position: sticky;
    top: 0px;
    left: 0px;
}

.link-style {
    color: rgba(255, 255, 255);
    text-decoration: none;
}

.link-style:hover {
    color: rgba(255, 255, 255, .8);
}

.header {
    display: flex;
    justify-content: space-around;
    padding-top: 60px;
}

.link-style {
    color: white;
    /* color: red; */
    text-decoration: none;
}

.frame-style {
    font-size: 26px;
    font-weight: 700;
}

.links-right {
    display: flex;
    column-gap: 50px;
}

.parent {
    display: block;
    align-items: center;
    text-align: center;
    /* border: 1px solid red; */
    height: 400px;
    width: 50%;
    position: absolute;
    top: 30%;
    left: 25%;
    /* transform: translate(-50%, -50%); */
}

.parent-text {
    margin-bottom: 80px;
}

.aligh_self {
    display: flex;
    justify-self: center;
    align-self: center;
    /* margin-top: 250px; */
    display: flex;
    justify-content: center;
    /* align-items: center; */
    align-items: center;
}

.parent-text {
    width: 690px;
    height: 60px;
}

.uicookies-style {
    font-size: 54px;
    font-weight: 300;
    color: white;
    line-height: 1.3;
}

.get_them_now-btns {
    margin-top: 200px;
}

.btn-get {
    background-color: rgb(16,52,99);
    padding: 20px 40px;
    margin-right: 10px;
    border: #ccc;
    font-size: 16px;
    color: white;
    cursor: pointer;
    text-decoration: none;
}

.btn-get:hover {
    background-color: rgb(16,52,99, .6);

}

.btn-see {
    background: 0 0;
    color: white;
    border: 2px solid rgba(255, 255, 255, .9);;
}

.btn-see:hover {
    background-color: rgba(255, 255, 255, .2); 
}

.service-container{
    margin-top: 120px;
    display: grid;
    grid-template-columns: 20% 20% 20%;
    column-gap: 50px;
    justify-content: center;
    /* border: 1px solid red; */
    /* height: 100px; */
}

.child-comp{
    display: block;
    background-color: white;
    height: 40vh;
    /* border: 1px solid red; */
}

.far-far-style {
    word-wrap: break-word;
    font-size: 16px;
    color: #73767c;
    line-height: 1.7;
    margin-bottom: 30px;
}

.header-style {
    font-size: 24px;
    color: rgb(61,113,179);
    word-wrap: break-word;
    margin-bottom: 30px;

}

.learn_more_style {
    font-size: 16px;
    color: #1a57a5;
    text-decoration: none;
}

.fa-icon-style {
    
    background: white;
    color: rgb(61,113,179);
    margin-bottom: 30px;

}

.fa-chevron-right {
    color: rgb(61,113,179);
    font-size: 10px;
    margin-left: 3px;
}

/* THird Section */

.features {
    background-color: #d6e6f2;
    margin-top: 150px;
    /* border: 1px solid green; */
}

.h3-style {
    font-size: 50px;
}

.features-child {
    margin-top: 200px;
    padding-top: 30px;
    text-align: center;
    /* border: 1px solid red; */
}

hr {
    width: 70px;
    height: 2px;
    margin-top: -20px;
    background: #1a57a5;
}

.features-parag {
    display: flex;
    word-wrap: break-word;
    /* border: 1px solid yellow; */
    justify-content: center;
}

.p-even-all {
    width: 40%;
    color: #73767c;
    line-height: 1.7;
}

.img-showcase {
    width: 40%;
}

.first-image {
    display: flex;
    padding: 100px 0px;
    /* justify-content: space-between; */
    justify-content: center;
    column-gap: 100px;
    line-height: 1.4;
}


ul {
    list-style-type: square;
}

.big-benefit {
    width: 50%;
}

.big-benefit-self {
    padding-left: 200px;
}

.shadow-img-self {
    padding-right: 100px;
}

.big-benefit-heading-3 {
    font-size: 36px;
    color: #1a57a5;
}

.first-image-self {
    padding-bottom: 170px;
}

.shadow-img {
    box-shadow: 0 20px 45px -10px rgba(0,0,0,.15);
}

/* Fourth Section */

.choose-plan-bg {
    display: flex;
    justify-content: center;
    padding-top: 30px;
    text-align: center;
}

.parag {
    display: flex;
    justify-content: center;

}

.parag-width {
    width: 60%;
}

.p-even-all1 {
    /* width: 40%; */
    color: #73767c;
    line-height: 1.7;
    text-align: center;
}

.get-started {
    /* border: 1px solid yellow; */
    display: flex;
    text-align: center;
    column-gap: 30px;
    justify-content: center;
}

.get-started-sel {
        margin-bottom: 50px;
}

.get-started-child {
    border: 1px solid #ebebeb;
}

.parent-pricing {
    padding: 20px;
}

.starter-style {
    font-size: 14px;
    text-transform: uppercase;
    /* letter-spacing: .2em; */
    letter-spacing: 3px;
    font-family: "Open Sans", Arial, sans-serif;
}

.pricing {
    font-size: 62px;
    color: #1a57a5;
    font-family: "Open Sans", Arial, sans-serif;
    font-weight: 300;
}

.note {
    color: #bdbdbd;
    /* margin: 0px 0px 30px; */
    margin-bottom: 30px;
    font-style: italic;
}

.check-list-parent {
    display: flex;
    column-gap: 10px;
    list-style-type: none;
    margin-bottom: 10px;
    justify-content: center;
}

.check-list {
    color: #73767c;
    padding-left: 5px;
    font-family: "Open Sans", Arial, sans-serif;
}

.check-list-style {
    color: #1a57a5;
}

.btn-black {
    background: #262626;
    color: white;
    /* text-decoration: none; */
    padding: 10px 40px;
    cursor: pointer;
    margin-top: 30px;
    border: none;
}

.btn-black:hover {
    background: #262626;
}

.btn-blue {
    background: #1a57a5;
    color: white;
    /* text-decoration: none; */
    border: none;
    padding: 10px 40px;
    cursor: pointer;
    margin-top: 30px;
}

.btn-blue:hover {
    background: #103463;
}

.grid-love-frame-img {
    margin-top: 50px;
    display: grid;
    border: 1px solid red;
    grid-template-columns: 30% 30% 30%;
    column-gap: 40px;
    row-gap: 20px;
    padding-left: 140px;
    padding-right: 140px;
}

.div-images {
    /* width: fit-content; */
    /* width: 80%; */
    border: 1px solid green;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    /* padding-left: 30px;
    padding-right: 30px;
    padding-top: 30px; */
    padding: 30px 30px 0px 30px;
    background-color: white;
}

.reduce-height {
    height: 40vh;
}

.statement {
    color: #73767c;
    font-family: "Open Sans", Arial, sans-serif;
    font-style: italic;
    font-size: 17.5px;
    line-height: 1.7;
}

.p-signature-name {
    color: #73767c;
    margin-top: -25px;
}

.yellow-star {
    color: #F79F24;
}

.white-star {
    color: #d9d9d9;
}

.rating-star {
    margin: 20px 0px 0px;
}

/* Fifth Section */
.try-it-today {
    background-color: blue;
}