/* Border format */

.bg-lightgray {
    background-color: lightgray;
}

.border-red {
    border: 2px solid red;
}

.border-green {
    border: 1px solid green;
}

.border-black {
    border: 1px solid black;
}

.border-magenta {
    border: 1px solid darkmagenta;
}

.border-blue {
    border: 1px solid blue;
}

.border-yellow {
    border: 3px solid yellow;
}

#history-data, #history-data2 {
    overflow-y: auto;
    max-height: 95vh;
    border: 1px solid #ccc;
    padding: 10px;
}

#history-data::-webkit-scrollbar {
    background-color: transparent;
}