<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="../style.css">
    <title>Document</title>
</head>
<body>
    <!-- <div class="columns-5 gap-5 border-red hover:columns-1 ...">
        <img class="w-full aspect-video border-red ..."
            src="../../../Bootstrap/Grid/Week3-Assignment/Assignment-OneA/Material/about-1.jpg.webp" />
        <img class="w-full aspect-square ..."
            src="../../../Bootstrap/Grid/Week3-Assignment/Assignment-OneA/Material/about-1.jpg.webp" />
        <img class="w-full aspect-auto ..."
            src="../../../Bootstrap/Grid/Week3-Assignment/Assignment-OneA/Material/about-1.jpg.webp" />
    </div> -->

    <!-- <div class="columns-5 ...">
        <img class="w-full aspect-video border-red ..."
            src="../../../Bootstrap/Grid/Week3-Assignment/Assignment-OneA/Material/about-1.jpg.webp" />
        <img class="w-full aspect-square ..."
            src="../../../Bootstrap/Grid/Week3-Assignment/Assignment-OneA/Material/about-1.jpg.webp" />
        <img class="w-full aspect-auto ..."
            src="../../../Bootstrap/Grid/Week3-Assignment/Assignment-OneA/Material/about-1.jpg.webp" />
    </div> -->
    <br>
    
    <!-- <div class="columns-3xs  ...">
        
        <img class="w-full aspect-video ..." src="../../../Bootstrap/Grid/Week3-Assignment/Assignment-OneA/Material/about-1.jpg.webp" />
        <img class="w-full aspect-square ..." src="../../../Bootstrap/Grid/Week3-Assignment/Assignment-OneA/Material/about-1.jpg.webp" />
    </div> -->


    <div class="columns-2 md:columns-5 gap-3">
        <img class="w-full aspect-video border-red ..." src="../../../Bootstrap/Grid/Week3-Assignment/Assignment-OneA/Material/about-1.jpg.webp" />
        <img class="w-full aspect-video border-red ..." src="../../../Bootstrap/Grid/Week3-Assignment/Assignment-OneA/Material/about-1.jpg.webp" /><img class="w-full aspect-video border-red ..." src="../../../Bootstrap/Grid/Week3-Assignment/Assignment-OneA/Material/about-1.jpg.webp" /><img class="w-full aspect-video border-red ..." src="../../../Bootstrap/Grid/Week3-Assignment/Assignment-OneA/Material/about-1.jpg.webp" /><img class="w-full aspect-video border-red ..." src="../../../Bootstrap/Grid/Week3-Assignment/Assignment-OneA/Material/about-1.jpg.webp" />
    </div>
</body>

</html>