<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="../../style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <title>Document</title>
</head>
<body>
    <!-- <div>
        When controlling the flow of text, using the CSS property
        <span class="inline">display: inline</span>
        will cause the text inside the element to wrap normally.
    
        While using the property <span class="inline-block">display: inline-block</span>
        will wrap the element to prevent the text inside from extending beyond its parent.
    
        Lastly, using the property <span class="block">display: block</span>
        will put the element on its own line and fill its parent.
    </div> -->

    <!-- <div class="pc-4 border-5">
        <div class="flow-root  border-red ...">
            <div class="my-4 ...">Well, let me tell you something, ...</div>
        </div>
        <div class="flow-root border-red ...">
            <div class="my-4 ...">Sure, go ahead, laugh if you want...</div>
        </div>
    </div> -->

    <!-- <div class="p-0">
        <div class="flow-root border-blue ...">
            <div class="my-4 ...">Well, let me tell you something, Lorem, ipsum dolor sit amet consectetur adipisicing elit. Laboriosam cumque, ut voluptatibus dolor ab unde quis quisquam odio veniam iure quam enim ducimus, praesentium voluptatum accusamus tempore qui doloribus molestias! ...</div>
        </div>
        <div class="flow-root border-blue ...">
            <div class="my-4 ...">Sure, go ahead, laugh if you want... Lorem ipsum, dolor sit amet consectetur adipisicing elit. Numquam maiores fuga accusantium tempora sunt corrupti magni, eos doloremque accusamus molestiae nam debitis voluptatem doloribus iste in consequuntur sapiente rerum nostrum?</div>
        </div>
    </div> -->

    <!-- <div class="flex items-center">
        <img src="../../../Bootstrap/Grid/Week3-Assignment/Assignment-OneA/Material/person_1.jpg.webp">
        <div>
            <strong>Andrew Alfred</strong>
            <span>Technical advisor</span>
        </div>
    </div> -->

    <!-- <p>
        Today I spent most of the day researching ways to ... Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur quasi, quos nesciunt assumenda aliquid maiores nemo tempora commodi recusandae ducimus est vel, quod adipisci facilis natus nulla omnis dignissimos veniam. Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex, sed earum explicabo, iusto illo dolore ut molestias beatae nemo enim doloremque esse, quisquam illum. Sint est consequatur molestiae modi dolorem.
        <span class="inline-flex items-baseline">
            <img src="../../../Bootstrap/Grid/Week3-Assignment/Assignment-OneA/Material/person_1.jpg.webp" alt="" class="self-center w-[58px] h-[58px] rounded-full mx-1" />
            <span>Kramer</span>
        </span>
        keeps telling me there is no way to make it work, that ...lorem Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo, perferendis eveniet? Amet architecto ut ea nobis, fuga sit ipsam odio! Dolorum animi expedita, tempora commodi voluptas nemo ipsam ea! Nihil. Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati et odit atque voluptas beatae! Numquam fuga repellendus excepturi suscipit rem dicta tempora recusandae alias ratione quidem! Ipsum vel at est!
    </p> -->


    <!-- <div class="grid gap-4 grid-cols-7">
        <img src="../../../Bootstrap/Grid/Week3-Assignment/Assignment-OneA/Material/person_1.jpg.webp">
        <img src="../../../Bootstrap/Grid/Week3-Assignment/Assignment-OneA/Material/person_1.jpg.webp">
        <img src="../../../Bootstrap/Grid/Week3-Assignment/Assignment-OneA/Material/person_1.jpg.webp">
        <img src="../../../Bootstrap/Grid/Week3-Assignment/Assignment-OneA/Material/person_1.jpg.webp">
        <img src="../../../Bootstrap/Grid/Week3-Assignment/Assignment-OneA/Material/person_1.jpg.webp">
        <img src="../../../Bootstrap/Grid/Week3-Assignment/Assignment-OneA/Material/person_1.jpg.webp">
        <img src="../../../Bootstrap/Grid/Week3-Assignment/Assignment-OneA/Material/person_1.jpg.webp">
        <img src="../../../Bootstrap/Grid/Week3-Assignment/Assignment-OneA/Material/person_1.jpg.webp">
        <img src="../../../Bootstrap/Grid/Week3-Assignment/Assignment-OneA/Material/person_1.jpg.webp">
    </div> -->

    <!-- <span class="inline-grid grid-cols-3 gap-4">
        <span><img src="../../../Bootstrap/Grid/Week3-Assignment/Assignment-OneA/Material/person_1.jpg.webp"></span>
        <span><img src="../../../Bootstrap/Grid/Week3-Assignment/Assignment-OneA/Material/person_1.jpg.webp"></span>
        <span><img src="../../../Bootstrap/Grid/Week3-Assignment/Assignment-OneA/Material/person_1.jpg.webp"></span>
        <span><img src="../../../Bootstrap/Grid/Week3-Assignment/Assignment-OneA/Material/person_1.jpg.webp"></span>
        <span><img src="../../../Bootstrap/Grid/Week3-Assignment/Assignment-OneA/Material/person_1.jpg.webp"></span>
        <span><img src="../../../Bootstrap/Grid/Week3-Assignment/Assignment-OneA/Material/person_1.jpg.webp"></span>
    </span>
    <span class="inline-grid grid-cols-3 gap-4">
        <span><img src="../../../Bootstrap/Grid/Week3-Assignment/Assignment-OneA/Material/person_1.jpg.webp"></span>
        <span><img src="../../../Bootstrap/Grid/Week3-Assignment/Assignment-OneA/Material/person_1.jpg.webp"></span>
        <span><img src="../../../Bootstrap/Grid/Week3-Assignment/Assignment-OneA/Material/person_1.jpg.webp"></span>
        <span><img src="../../../Bootstrap/Grid/Week3-Assignment/Assignment-OneA/Material/person_1.jpg.webp"></span>
        <span><img src="../../../Bootstrap/Grid/Week3-Assignment/Assignment-OneA/Material/person_1.jpg.webp"></span>
        <span><img src="../../../Bootstrap/Grid/Week3-Assignment/Assignment-OneA/Material/person_1.jpg.webp"></span>
    </span> -->

    <!-- <div class="flex border-red ...">
        <div class="flex-1 box-border h-32 w-32 p-0 border-2 ...">01</div>
        <div class="flex-1 box-border h-32 w-32 p-0 border-2 ...">01</div>
        <div class="contents border-blue">
            <div class="flex-1 hidden box-border h-32 w-32 p-0 border-2 ...">02</div>
            <div class="flex-1 hover:inline-flex  box-border h-32 w-32 p-0 border-2 ...">03</div>
        </div>
        <div class="flex-1 box-border h-32 w-32 p-0 border-2 ...">04</div>
    </div> -->

    <!-- <div class="flex md:inline-flex">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut distinctio ea ipsam sed perspiciatis reprehenderit quas maiores quo! Doloremque laudantium labore ipsum unde deleniti itaque obcaecati harum in fuga perferendis! Lorem ipsum dolor sit amet consectetur, adipisicing elit. Consequatur voluptates consequuntur maiores quaerat eaque, repellendus reprehenderit nam vel dolor, illo eveniet voluptatem, exercitationem cum! Impedit eos nam repellendus commodi quisquam?</p>
    </div> -->


    <div class="table w-full ...">
        <div class="table-header-group ...">
            <div class="table-row">
                <div class="table-cell text-left ...">Song</div>
                <div class="table-cell text-left ...">Artist</div>
                <div class="table-cell text-left ...">Year</div>
            </div>
        </div>
        <div class="table-row-group">
            <div class="table-row">
                <div class="table-cell ...">The Sliding Mr. Bones (Next Stop, Pottersville)</div>
                <div class="table-cell ...">Malcolm Lockyer</div>
                <div class="table-cell ...">1961</div>
            </div>
            <div class="table-row">
                <div class="table-cell ...">Witchy Woman</div>
                <div class="table-cell ...">The Eagles</div>
                <div class="table-cell ...">1972</div>
            </div>
            <div class="table-row">
                <div class="table-cell ...">Shining Star</div>
                <div class="table-cell ...">Earth, Wind, and Fire</div>
                <div class="table-cell ...">1975</div>
            </div>
        </div>
    </div>
</body>

</html>