<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="../../style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <title>Document</title>
</head>
<body>
    <!-- <div>
        When controlling the flow of text, using the CSS property
        <span class="inline">display: inline</span>
        will cause the text inside the element to wrap normally.
    
        While using the property <span class="inline-block">display: inline-block</span>
        will wrap the element to prevent the text inside from extending beyond its parent.
    
        Lastly, using the property <span class="block">display: block</span>
        will put the element on its own line and fill its parent.
    </div> -->

    <div class="pc-4 border-5">
        <div class="flow-root border-red ...">
            <div class="my-4 ...">Well, let me tell you something, ...</div>
        </div>
        <div class="flow-root border-red ...">
            <div class="my-4 ...">Sure, go ahead, laugh if you want...</div>
        </div>
    </div>
</body>

</html>