@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

body{
    margin: 0px;
}

.form {
    background-color: rgb(254,191,200);
    height: 100vh;
}

.header-title {
    font-size: 60px;
    margin-top: 0px;
    display: flex;
    justify-content: center;
    padding: 30px 0px 30px 0px;  
}

.log-in-details {
    background-color: rgb(171,217,230);
    height: 68vh;
    margin: 10px;
    padding: 40px 0px 0px 40px;
}

.alignment {
    margin: 0px 0px 40px 0px;
}

.input-box {
    width: 97%;
    height: 40px;
    border: 2px;
    border-style:double;
    font-size: 25px;
    padding-left: 20px;
    margin-top: 5px;
}

.login-btn {
    width: 99%;
    height: 40px;
    color: rgb(139,183,81);
    background-color: rgb(79,173,81);
}

.cancel-btn {
    width: fit-content;
    height: 30px;
}