@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

body {
    background-color: rgb(13,132,135);
    height: 100vh;
    margin: 0px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    height: 10vh;
    background-color: rgb(96,156,164);
    padding-left: 10px;
}

a {
    text-decoration: none;
}

.header-left-text {
    font-family: "Kode Mono", monospace;
    font-weight: bold;
    font-style: normal;
    color: white;
    font-size: large;
}

.header-right-content {
    display: flex;
    margin-right: 15px;
}

button {
    background-color: rgb(96,156,164);
    border-color: white;
    color: white;
    width: 100px;
    height: 30px;
}

.header-right-content-first-btn {
    border-radius: 5px 0px 0px 5px;
}

.header-right-content-second-btn {
    border-radius: 0px 5px 5px 0px;
}

.div-body-1 {
    margin-top: 8px;
    background-color: blueviolet;
    background-image: url("beautiful.jpg");
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    background-size: 100% 50vh;
}

.div-body-one-text {
    font-size: 30px;
    font-family: "Protest Riot", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.div-body-2 {
    margin-top: 15px;
}

.div-body-two-hr {
    margin-top: 0px;
}

.div-body-3 {
    display: flex;
    /* justify-content: space-around; */
    justify-content: space-evenly;
    height: 40vh;
    flex-wrap: wrap;
}

.div-body-3-paris {
    background-image: url("paris.jpg");
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
    background-size: 100% 40vh;
    
}

.div-body-3-ams {
    background-image: url("amsterdam.webp");
}

.div-body-3-san {
    background-image: url("sans_fransisco.webp");
}

.font-backg {
    background-color: black;
    color: white;
    width: auto;
    height: auto;
    font-size: 30px;
}

/* @media (max-width: 466px) {
    .header {
        display: block;
    }
} */